@import "./reusable";
@import "./loader";

body {
  background: url("./assets/background/old_wall.png");
  .app {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    section {
      flex: 1 1 auto;
      overflow: auto;
      position: relative;
    }
  }
}
